data/
Hard_Exampling/val-4/
Hard_Exampling/val-5/
Hard_Exampling/analysis/
Hard_Exampling/val-8/
Hard_Exampling/analysis-valid
Hard_Exampling/analysis-train/
.vercel
.env*
# Allow ONNX models in backend
!app/backend/models/*_int8.onnx
